Q1. Create one variable containing following type of data:

(i) string

In [ ]:
s='pwskills'
type(s)

str

(ii) list

In [ ]:
l=[1,True,43,'ak',34.65]
type(l)

list

(iii) float

In [ ]:
f=94774.326547
type(f)

float

(iv) tuple

In [ ]:
t=('ram','shyam',6)
type(t)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [ ]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

In [ ]:
type(var1)

str

In [ ]:
type(var2)

str

In [ ]:
type(var3)

list

In [ ]:
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [ ]:
55.50/5 #return the quotient with float value

11.1

In [ ]:
64%10 #return the remainder

4

In [ ]:
55.65//5 #return the quotient with decimal value

11.0

In [ ]:
4**2 #power function

16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [ ]:
l=[3,8,'ajay','bjay',False,36.21,96,'sujay','jay',True]

In [ ]:
for i in l:
    print(i)
    print(type(i))

3
<class 'int'>
8
<class 'int'>
ajay
<class 'str'>
bjay
<class 'str'>
False
<class 'bool'>
36.21
<class 'float'>
96
<class 'int'>
sujay
<class 'str'>
jay
<class 'str'>
True
<class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [32]:
a=84
b=2
c=0
while a>=b:
  if a%b == 0:
    print(a,' is divisible by ',b)
    div = a/b
    if div > 0:
      a = div
      print('divided result ', div)
      c = c+1
    else:
      print(c)
    continue
  else:
    print(a,' is not divisible by ',b)
    break
  continue
print(c,' many times the number can be divisible')

84  is divisible by  2
divided result  42.0
42.0  is divisible by  2
divided result  21.0
21.0  is not divisible by  2
2 th many times the number can be divisible

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [ ]:
ln=[12,96,25,65,97,14,31,10,80,700,378,241,20,19,45,31,87,78,254,963,741,852,987,654,321]

In [ ]:
for i in ln:
    if i%3 == 0:
        print(i,' is divisible by 3')
    else:
        print(i,' is not divisible by 3')

12  is divisible by 3
96  is divisible by 3
25  is not divisible by 3
65  is not divisible by 3
97  is not divisible by 3
14  is not divisible by 3
31  is not divisible by 3
10  is not divisible by 3
80  is not divisible by 3
700  is not divisible by 3
378  is divisible by 3
241  is not divisible by 3
20  is not divisible by 3
19  is not divisible by 3
45  is divisible by 3
31  is not divisible by 3
87  is divisible by 3
78  is divisible by 3
254  is not divisible by 3
963  is divisible by 3
741  is divisible by 3
852  is divisible by 3
987  is divisible by 3
654  is divisible by 3
321  is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

mutable : In which data types, we can access and modify the value or data by their indexing, are called mutable data types.
ex: list
immutable : In which data types, we can only access the value or data by their indexing but cannot modify, are called immutable data types.
ex: string

In [33]:
li=[52,True,9.03,'ak']

In [34]:
li[3]

'ak'

In [35]:
li[3]='soumi'

In [36]:
li #mutable property

[52, True, 9.03, 'soumi']

In [37]:
st='soumi'

In [38]:
st[1]

'o'

In [39]:
st[1]='a'#immutable property

TypeError: ignored